
.div{
    padding: 20px 25%;      
}
@media screen and (max-width:912px){
    .div{
        padding: 20px 12%;
    }
}

div#container-tarjeta {
    margin: 15px;
    background-color:#ffffff;
    max-width: 100%;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px; 
    border-top: 1px solid rgba(7, 6, 6, 0.144);  
      
}
.card {
    margin: 5px 5px 5px 5px;
    padding: 10px;    
    height: 200px;
    width: 200px;
    border-radius: 10px;    
}
.card-img {
    width:  180px;
    height: 180px;
}

#carrusel {
    padding-top: 5px;
}
div#carouselExampleControls{
    margin-top: 20px;
}
.letra{
    font-size:small;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card-text{
font-size: x-large;
width: 320px;
height: 200px;
margin-right: 84px;
overflow: hidden;
padding-top: 20px;

}
.valor{
    font-size: x-large; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
    padding-top: 0px;
}
.descuento{
    font-size: xx-small;
    color:darkturquoise;    
    padding-top: 100px;
    padding-left: 15px;
}
.rating {
    display: flex;
    margin-top: -10px;
    flex-direction: row-reverse;
    margin-left: -4px;
    float: right
}
.rating>input {
    display: none
}
.rating>label {
    position: relative;
    width: 40px;
    font-size: 40px;
    color: #ff0000;
    cursor: pointer;
}
.rating>label::before {
    content: "\2665";
    position: absolute;
    opacity: 0
}
.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}
.rating>input:checked~label:before {
    opacity: 1
}
.rating:hover>input:checked~label:before {
    opacity: 0.4
}
.card-img2 {
    width:  170px;
    height: 90px;
    float: left;
    padding-left: 120px;
    padding-top: 60px;
}


