<app-buscar></app-buscar>
<app-carousel></app-carousel>

<div class="div">
    <div class="Tarjeta" id="container-tarjeta">
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <img class="img" src="../../../assets/chaqueta.jpg" class="card-img" alt="...">                   
                </div>
            </div>

            <div class="col-sm">
                <div class="letra">
                    <p class="card-text">Chaqueta WRT super pro<strong>
                            <div class="rating">
                                <input type="checkbox" name="rating" value="5" id="5"><label for="5">♡</label>
                            </div>
                            <div class="col-sm">
                                <div class="card-img2">
                                    <img class="img" src="../../../assets/Bri.png" class="card-img2" alt="...">                   
                                </div>
                            </div>
                            <div class="descuento">
                                <strong>- 10% $ 1.000.000</strong>
                            </div>
                            <div class="valor">
                                <strong>$ 900.000</strong>                   
                            </div>     
                        </strong></p>                        
                </div>   
            </div>
        </div>
    </div>

    <div class="Tarjeta" id="container-tarjeta">
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <img class="img" src="../../../assets/chaqueta.jpg" class="card-img" alt="...">                   
                </div>
            </div>

            <div class="col-sm">
                <div class="letra">
                    <p class="card-text">Chaqueta WRT super pro<strong>
                            <div class="rating">
                                <input type="checkbox" name="rating" value="5" id="5"><label for="5">♡</label>
                            </div>
                            <div class="col-sm">
                                <div class="card-img2">
                                    <img class="img" src="../../../assets/Bri.png" class="card-img2" alt="...">                   
                                </div>
                            </div>
                            <div class="descuento">
                                <strong>- 10% $ 1.000.000</strong>
                            </div>
                            <div class="valor">
                                <strong>$ 900.000</strong>                   
                            </div>     
                        </strong></p>                        
                </div>   
            </div>
        </div>
    </div>
    <div class="Tarjeta" id="container-tarjeta">
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <img class="img" src="../../../assets/chaqueta.jpg" class="card-img" alt="...">                   
                </div>
            </div>

            <div class="col-sm">
                <div class="letra">
                    <p class="card-text">Chaqueta WRT super pro<strong>
                            <div class="rating">
                                <input type="checkbox" name="rating" value="5" id="5"><label for="5">♡</label>
                            </div>
                            <div class="col-sm">
                                <div class="card-img2">
                                    <img class="img" src="../../../assets/Bri.png" class="card-img2" alt="...">                   
                                </div>
                            </div>
                            <div class="descuento">
                                <strong>- 10% $ 1.000.000</strong>
                            </div>
                            <div class="valor">
                                <strong>$ 900.000</strong>                   
                            </div>     
                        </strong></p>                        
                </div>   
            </div>
        </div>
    </div>  
    <div class="Tarjeta" id="container-tarjeta">
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <img class="img" src="../../../assets/chaqueta.jpg" class="card-img" alt="...">                   
                </div>
            </div>

            <div class="col-sm">
                <div class="letra">
                    <p class="card-text">Chaqueta WRT super pro<strong>
                            <div class="rating">
                                <input type="checkbox" name="rating" value="5" id="5"><label for="5">♡</label>
                            </div>
                            <div class="col-sm">
                                <div class="card-img2">
                                    <img class="img" src="../../../assets/Bri.png" class="card-img2" alt="...">                   
                                </div>
                            </div>
                            <div class="descuento">
                                <strong>- 10% $ 1.000.000</strong>
                            </div>
                            <div class="valor">
                                <strong>$ 900.000</strong>                   
                            </div>     
                        </strong></p>                        
                </div>   
            </div>
        </div>
    </div>

</div>
<!-- <div class="btn1">
              <a routerLink="/paquete1" class="btn btn-outline-success ">RESERVA YA</a>
            </div>
          </div>  -->