<div class="div">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-12 navbar navbar-expand-lg navbar-light bg-light ">
                <a class="navbar-brand " href="#"><strong>Almacén</strong> </a>
            </div>
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="box">
                        <div class="container-1">
                            <div class="icon-buscar">
                                <span class="icon"><i class="fa fa-search"></i></span>
                            </div>                            
                                <input class="buscar" type="text" id="search" placeholder="Search">                                                      
                        </div>
                    </div>

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto" id="navbarSupportedContent">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                    aria-expanded="false">
                                    Dropdown
                                </a>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>